* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color:lightblue;
}

.layout > button {
    margin: 8px;
    width: 100px;
    padding: 8px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    transition: width .5s;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 8px;
}

.noMultiple {
    border: 2px solid burlywood;
}

.fizzBuzz {background-color: greenyellow;}
.fizz {background-color:coral}
.buzz {background-color: cornflowerblue;}